# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Post-build
dist
!.gitkeep

# Operating system files
.DS_Store
Thumbs.db

# IDE files
*.swp
*.swo
.idea/
.vscode/

# Ignore composer vendors
vendor/

# Ignore .env files
.env
